# Application Configuration
NODE_ENV=development
FRONTEND_URL="https://tressure-hunt-seven.vercel.app/"
PORT=3000
APP_NAME=TechMultiverse
APP_URL=http://localhost:3000

# Database Configuration
# DATABASE_URL="postgresql://avnadmin:AVNS_BiEkKzkp1tV0gyuYo_P@hackathon-user-service-hackathon-user-service.c.aivencloud.com:27596/oneapportunity"
DB_HOST="hackathon-user-service-hackathon-user-service.c.aivencloud.com"
DB_PORT=27596
DB_NAME=oneapportunity
DB_USER=avnadmin
DB_PASSWORD=AVNS_BiEkKzkp1tV0gyuYo_P

# JWT Configuration
JWT_SECRET=Q3pyPOB3DnOT2iGrep64KWbIkCn5pySoiQ1Q1UECBgDsZAgS9TPAdf34r5FMV8rPYJ2HhlVhgYf5EGvFXbLUxdBy
JWT_REFRESH_SECRET=nbyayU9ANu4xF7O5Dr93EtRdh6rB5rtCBuLlVUpcYKcmgZ7Ol85SGQppYs7zZWXMkEQwH9DaqQxynlZ2GQ3pyPOB3DnOT2iGrep6
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

# Email Configuration (optional)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password

REFERRAL_COIN=200